// --------------------------------------- \\
//	COLORS
// --------------------------------------- \\

// Text
$text-color: #4D4D4D;
$heading-color: #353535;

// Brand
$scribble-red: #E20016;

// Greys
$grey-dark: #4E4F51;
$grey-mid: #808285;
$grey-light: #C2C2C6;

// Colour helpers
$white: #FFF;
$dark-grey: #222;
