// --------------------------------------- \\
//	COLORS
// --------------------------------------- \\

// Text
$text-color: #4D4D4D;
$heading-color: #353535;

// Brand
$primary-color: #E20016;

// Colour helpers
$white: #FFF;
$dark-grey: #222;
