@import-normalize;

header,
main,
footer {
	padding-left: 300px;
}

.side-nav {
	list-style: none;
	padding-left: 0px;
}

.button-anchor {
	border: 1px solid rgb(207, 207, 207);
	color: #FFF;
	background-color: #000FFF;
}
