////
///	ACORDION
/// @group objects
////

/// Basic styling for the accordion component
.accordion {
	width: 100%;

	.accordion-item {
		margin-bottom: 0.6em;

		&__button {
			background-color: $grey-dark;
			width: 100%;
			padding-top: 1em;
			padding-bottom: 1em;
			padding-left: 1.5em;
			border: none;
			color: $white;
			text-align: left;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1em;
			cursor: pointer;
			transition: background-color 0.33s ease;

			&.active {
				background-color: darken($grey-dark, 30%);
			}
		}

		&__background {
			background-color: $grey-light;
			overflow: hidden;
			transition: max-height 0.6s ease-out;

			.content {
				padding: 1em 1.5em;
			}
		}
	}
}
/// Basic styling for the button
.accordion-item__button {

	&.active {

		.rotate {
			transform: rotate(180deg);
		}
	}

	.icon {
		float: right;
		margin-right: 1em;
		transition: transform 0.3s ease;

		svg {
			stroke: #FFF;
		}
	}
}
