////
///	BUTTONS
/// @group objects
////

/// Side Navigation links
.side-nav__item {

	.side-nav__link {
		display: block;
		padding: 0.6em 0.5em;
		color: $white;
		transition: all ease-out 0.6s;

		&:hover {
			background-color: rgba(166, 0, 22, 0.6);
			transition: all ease 0.3s;
		}

		&.active {
			background-color: rgba(166, 0, 22, 0.4);
		}
	}
}

// Base button style

// .btn {
// 	displ
// }
