// --------------------------------------- \\
//	FOOTER
// --------------------------------------- \\

.footer {
	background-color: #222;
	padding: 2em;
	color: #FFF;
	text-align: center;
}

.patterns {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main-content {
	flex: 1;
}
