// --------------------------------------- \\
//	HEADER
// --------------------------------------- \\

.top-nav {
	padding: 2rem 1.5rem 1rem;

	h1 {
		padding-bottom: 1em;
		border-bottom: 2px solid $grey-mid;
	}
}
